div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a, input[type="submit"],button {
	transition: all ease-out .3s;
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.text-center {text-align:center;}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
}
.logo a {
	display: inline-block;
	float: left;
	position: relative;
	padding: 8px 0 2px;
	@include tab {
		padding: 10px 0;
	}
	img {
		@include tab {
			width: auto;
			height: 54px;
			float: left;
		}
	}
}
.site-header {
	position: relative;
	z-index: 200;
	.wrapper {
		height: 70px;
		@include tab {
			height: auto;
		}
	}
	.logo {
		width: 30%;
		float: left;
		position: relative;
		z-index: 50;
	}
}

.site-footer {
	background: $grey;
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	padding: 30px 0;
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-align-items(center);
	}
	a {
		color: #FFF;
		text-decoration: none;
	}
	.col {
		width: 100%;
	}
	.col.left {
		width: 100%;
		@include mid {
			width: 65%;
		}
	}
	.col.right {
		width: 100%;
		text-align: center;
		@include mid {
			text-align: right;
			width: 35%;
		}
		.wrap {
			display: block;
			width: 100%;
			@include flexbox();
			// @include flexbox-wrap(wrap);
			// @include flexbox-direction(row);
			@include flexbox-align-items(center);
		}
	}
	.rcol1,.rcol2 {
		width: 100%;
		margin: 10px 0 0;
		@include mid {
			width: 50%;
			margin: 0 0;
		}
	}
	.rcol1.noSocial {
		width: 100%;
		text-align: center;
		@include mid {
			text-align: right;
			.enquiry-email {
				float: right;
			}
		}
	}
	.rcol2.noEmail {
		width: 100%;
		text-align: center;
		@include mid {
			text-align: right;
			.social-links {
				float: right;
			}
		}
	}
	.foot-title {
		font-size: 14px;
		color: #FFF;
		text-transform: uppercase;
		margin-bottom: 10px;
		text-align: center;
		@include tab {
			text-align: left;
		}
	}
	.social-links {
		text-align: center;
		@include tab {
			display: inline-block;
			text-align: center;
			margin-top: 0;
		}
		@include mid {
			float: right;
			text-align: right;
		}
		.foot-title {
			text-align: center;
			@include tab {
				text-align: left;
			}
		}
	}
	.social-links a {
		display: inline-block;
		font-size: 30px;
    	margin-left: 10px;
    	margin-right: 10px;
    	@include tab {
    		font-size: 28px;
    		margin-left: 18px;
    		margin-right: 0;
    	}
    	&:hover {
    		color: #b3b2b2;
    	}
	}
	.social-links a.first {
		margin-left: 0;
	}
	.enquiry-email {
		text-align: center;
		a {
			color: #FFF;
			font-size: 14px;
		}
	}
}

.locations-list {
	.locations {
		width: 100%;
		float: left;
		font-size: 14px;
		line-height: 1.4;
	}
	.flexrow {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
	.name {
		display: block;
		width: 100%;
		color:  #FFF;
		text-transform: uppercase;
		font-size: 16px;
    	margin-bottom: 5px;
	}
	.address {
		display: block;
		width: 100%;
		font-style: normal;
		margin: 0 0;
	}
	.telephone {
		display: block;
		width: 100%;
	}
	.flexrow {
		@include tab {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.flexbox {
		text-align: center;
		padding: 20px 0;
		word-wrap: break-word;
		width: 100%;
		@include tab {
			width: 33%;
			padding: 0 15px 15px;
			text-align: left;
		}
		@include mid {
			padding: 0 15px;
		}
	}
}
